<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic Vue 01</title>
    <link rel="stylesheet" href="theme.css" />
    <link rel="shortcut icon" href="#" />
  </head>
  <body>
    <div class="container" id="app" v-cloak>
      <div class="card">
        <h1>A plan for learning the Vue.js</h1>

        <div class="steps">
          <div class="steps-content">{{ activeStep.text }}</div>
          <ul class="steps-list">
            <li
              class="steps-item"
              v-for="(item, index) in steps"
              :key="index"
              :class="{ active: index ===  activeIndex, done:  index < activeIndex }"
            >
              <span @click="setActive(index)">{{ index + 1 }}</span> {{
              item.title }}
            </li>
          </ul>
          <div>
            <button
              class="btn"
              @click="prev"
              :disabled="!buttonOff"
              v-if="activeButton"
            >
              previous
            </button>
            <button
              class="btn primary"
              @click="nextOfFinish"
              v-if="lastStep && activeButton"
            >
              next
            </button>
            <button
              class="btn primary"
              @click="activeButton = false"
              v-else-if="activeButton"
            >
              end
            </button>
            <button class="btn" @click="reset" v-if="!activeButton">
              reset
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="vue.js"></script>
  </body>
</html>
